@charset "UTF-8";

#layoutSidenav_content_wrapper {
	width: 100%;
	margin: 50px 225px 0px 225px;
}

.wrapper {
/* 	margin-top: 90px; */
/* 	margin-left: 480px; */
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup_wrapper {
	width: 960px;
	height: 1040px;
/* 	margin-top: 50px; */
/* 	margin-left: 50px; */
	border: 12px solid #eeeeee;
	padding:16px;
	margin-bottom: 100px;
}
.popup_title {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 12px;
	text-align: center;
}
.customer_question_title_row {
	margin: 12px 0px;
	width: 130px;
	font-size: 20px;
}
.customer_question {
	display: flex;
	margin-left: 20px;
}
.customer_question_title {
	margin: 15px 0px;
	width: 130px;
	font-size: 20px;
}
.customer_question_title_body {
	width: 700px;
	margin: 15px 0px;
}
.customer_question_name_body {
	width: 300px;
	margin: 15px 0px;
}
.customer_question_date_body {
	width: 260px;
	margin: 15px 0px;
}
.customer_question_content_body {
	width: 700px;
	height: 90px;
	margin: 15px 0px;
	overflow: auto;
}
.customer_question_file_body {
	width: 700px;
	height: 200px;
	margin: 15px 0px;
}
.customer_question_file_body>img {
	max-height:100%;	
}

.popup_hr {
	width: 946px;
	height: 12px;
	background-color: #eeeeee;
	margin-left: -16px;
	margin-top: 12px;
}


.customer_reply {
	display: flex;
	margin-left: 20px;
}
.customer_reply_head {
	font-size: 32px;
	padding-bottom: 8px;
	margin-top: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #dddddd;
	text-align: center;
}
.customer_reply_title {
	font-size: 20px;
	width: 130px;
	margin: 6px 0px;
}
.customer_reply_title_body {
	margin: 6px 0px;
}
.customer_reply_content_body {
	margin: 6px 0px 20px 0px;
}
.customer_reply_title_body>input {
	width: 700px;
	height: 25px;
}
.customer_reply_content_body>textarea {
	width: 700px;
	height: 180px;
	resize: none;
}

/* 버튼 */
.popup_btn {
/* 	display: flex; */
/* 	justify-content: end; */
	padding-right: 16px;
	text-align: center;
}
.end {
	border-top: 1px solid #dddddd;
/* 	background: white; */
	width: 100%;
	padding: 28px 0px;
/* 	padding: 10px 10px 10px; */
	display: flex;
	justify-content: center;
}

.end >a {
	font-size: 14px;
	border: 2px solid black;
	background: #ffffff;
	padding: 3px;
	border-radius: 5px;
 	font-weight: bold;
 	letter-spacing: 2px;
}

.end >a:hover {
  font-weight : bold ;
  text-decoration : none ;
}
.end_btn {
    color: #212529;
    font-size: 24px;
    /* border: 2px solid black; */
    background: #dee2e6;
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    margin: 0px 12px;
}
