@charset "UTF-8";

/* PAGER */
.dataTable-pagination a:hover {
  background-color: #e9ecef;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #0d6efd;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dataTable-pagination .pager a {
  font-weight: bold;
}




.table_div_wrapper {
	padding: 16px;
}
.table_div {
	margin-bottom: 12px;
}
.table_paging {
	display: flex;
	justify-content: end;	
}

.table_tr {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;	
}
.table_td1_head {
	width: 20%;
	font-size: 14px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 0px solid lightgray;
	border-bottom: 2px solid black;
	padding: 8px;
	font-weight: bold;
}
.table_td2_head {
	width: 29%;
	font-size: 14px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 0px solid lightgray;
	border-bottom: 2px solid black;
	padding: 8px;
	font-weight: bold;
}
.table_td3_head {
	width: 16%;
	font-size: 14px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 0px solid lightgray;
	border-bottom: 2px solid black;
	padding: 8px;
	font-weight: bold;
}
.table_td4_head {
	width: 9%;
	font-size: 14px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 0px solid lightgray;
	border-bottom: 2px solid black;
	padding: 8px;
	font-weight: bold;
}
.table_td5_head {
	width: 15%;
	font-size: 14px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 0px solid lightgray;
	border-bottom: 2px solid black;
	padding: 8px;
	font-weight: bold;
}
.table_td6_head {
	width: 11%;
	font-size: 14px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 2px solid black;
	padding: 8px;
	font-weight: bold;
}

.table_td1 {
	width: 20%;
	font-size: 14px;
	border-top: 0px;
	border-left: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 8px;
}
.table_td2 {
	width: 29%;
	font-size: 14px;
	border-top: 0px;
	border-left: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 4px 4px;
}
.table_td3 {
	width: 16%;
	font-size: 14px;
	border-top: 0px;
	border-left: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 8px;
}
.table_td4 {
	width: 9%;
	font-size: 14px;
	border-top: 0px;
	border-left: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 8px;
}
.table_td5 {
	width: 15%;
	font-size: 14px;
	border-top: 0px;
	border-left: 1px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 8px;
}
.table_td6 {
	width: 11%;
	font-size: 14px;
	border-top: 0px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 8px;
}