@charset "UTF-8";

/*common*/
/*
*{
	border:1px solid red;
}
*/

.footer {
	width : 1170px;
	margin : 0 auto;
}

.header {
	width: 1170px;
	margin: 0 auto;
	
}

.menu_wrapper {
	height: 100px;
	width : 100%;
	margin: 0px auto;
	background-color: none;
	/*화면 가운데에 고정*/
	display: flex;
	justify-content: center;
}

.wrapper {
	height: auto;
	min-height: 100%;
	padding-bottom: 100px;
}

.method1 {
	position: flex;
	text-align: center;
} 

.method1 h2{
	text-align: center;
}

.method2 {
	margin-left: 200px;
	margin-right: 200px;
	font-size: 20px;
}

.method3 {
	margin-left: 200px;
	margin-right: 200px;
	font-size: 20px;
}

/*header*/
header {
	height: 150px;
	background-color: none;
	position: flex;
	width: 100%;
	z-index: 9999;
	top: 50px;
	left: 0;
}

h1 {
	color: black;
	line-height: 150px;
	float: left;
}

/*body*/

#content{ position:relative; width:100%; margin:0;}

body {
	background-color : #f5f5f5;
}

/*footer*/
footer {
	height: 100px;
	background-color: none;
	position: relative;
	transform: translateY(-100%);
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer h2 {
	color : black;
	line-height : 100px;
	float : right;
}

.footer {
	color : black;
	font-size : 12px;
	text-align : center;
}


/*body*/

.bye{
	text-align: center;
	font-size:35px;
	font-weight: bold;
	margin-bottom: 10%
}

.bye1{
	text-align:center;
	font-size:25px;
	font-weight: bold;
	margin-bottom: 7%;
}
.mom-bye{
	background: white;
	width:100%;
	height:30%;
	border-top-color: #A9A9A9;
	border-bottom-color:#DCDCDC;
	border-left-color:white;
	border-right-color:white;
	border-style: solid;
	
	
	
}
.mom-bye2{
	display: flex;
	margin-top: 3%;
	text-align: center;
	margin-left:37%;
}

.bye2{
	display: flex;
	width:85%;
	height: 10%;
	margin-left: 3%;
	margin-top:3%;
	
	
}
.bye2-1{
	margin-top:3%;
	width:15%;
	height: 67%;
	font-weight: bold;
}

#bye2-2{
	margin-left: 15%;
	margin-top:3%;
	height:70%;
	width: 50%;
	justify-content: center;
	border-style: solid;
	background-color: #DCDCDC;
}

.cancle{
	border-style:none;
	width:100px;
	height: 28px;
	padding-top:3px;
	
}

.submit{
	border-style:none;
	width:100px;
	height: 28px;
	padding-top:3px;
	margin-left:1px;
	
}

#cancle1{
	border:solid 1.5px;
	background-color: #f5f5f5;
	border-radius: 50px;
	margin-right: 20px;
	width:100px;
	height:45px;
	font-weight:bold;
	
}

#cancle2{
	border:solid 1.5px;
	background-color: #006eb7;
	border-radius: 50px;
	color : white;
	width:130px;
	height: 45px;
	font-weight: bold;
}


.bye3{
	display: flex;
	width:85%;
	height: 10%;
	margin-left: 3%;
	margin-top:2%;
		
}
.bye3-1{
	padding-top: 3%;
	width:15%;
	height: 67%;
	font-weight: bold;
}
#bye3-2{
	margin-left: 15%;
	margin-top:3%;
	height:65%;
	width: 50%;
	justify-content: center;
	border-style: 1px;
	
	
}
/*upper menu*/
.top {
	float: right;
}

.top li {
	font-size: 25px;
	list-style: none;
	float: left;
}

.top a {
	line-height: 150px;
	color: black;
	padding: 0 15px;
	display: block;
	text-decoration: none;
}

.top li:hover>a {
	background-color: none;
	font-weight: bold;
}

/*main menu bar*/
.middle {
	list-style: none;
	width : 1440px;
	height : 50px;
	background : #006eb7;
	display: flex;
	justify-content: center;

}

.middle li {
	float: left;
	top: 10px;
	position: relative;
	margin: 0px 30px;

}

.middle li a {
	display: block;
	font-weight: bold;
	font-size: 20px;
	color : white;
	margin : 0;
	text-decoration : none;
}

.middle li:hover>a {
	display: block;
	background: none;
	color: white;
	font-size : bold;
}

.middle ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 30px;
	width: 200px;
	background: #006eb7;
	text-align: center;
	opacity: 0;
	z-index: 1;
}

.middle ul li {
	float: none;
	margin: 0;
	padding: 0;
}

.middle ul a {
	font-weight: normal;
	color: white;
	font-size: 15px;
}

.middle ul li:hover a {
	display: block;
	height: 30px;
	background: #b0d2e9;
	font-weight: bold;
}

.middle li:hover ul {
	opacity: 1;
}

.middle li:hover ul li {
	height: 40px;
	overflow: visible;
	padding: 0;
}

/*bottom menu*/
.bottom {
	list-style: none;
	height: 50px;
	padding: 5px 1px;
	margin: 0;
	background: none;
	display: flex;
	justify-content: center;
}

.bottom li {
	float: left;
	position: relative;
	margin: 5px 30px;
	padding: 0;
}

.bottom li a {
	display: block;
	font-size: 12px;
	color: black;
	margin: 0;
	text-decoration: none;
}

.bottom li:hover>a {
	display: block;
	background: none;
	font-weight : bold;
}

.main{
  display: flex;
  width:1315px; 
  height:627px;
}

.space_left{
  width: 20%;
  margin-left: 5%; 
   
}
.space_right{
  width: 20%;
}
.paymainBox{
  width: 60%;
  margin-left: 3%;
  
}

/* GENERAL */
body {
    margin: 0;
    width: 1406px;
    height: 1239px;
}


.mom-sidebar{
	width:176px;
}

.sidebar {
  position: relative;
  width: 185.094px;
  
/* Change :absolute; to :fixed; to keep the sidebar in place when scolling. */
  
/* Sidebar Background */
 
/* Width of side bar. WARNING: If you change this, change .listItemA:width */
  height: 100%;
  padding-top: 10px;
  margin-top : 10px;
  
/* Padding above the sidebar image. */
  font-family: helvetica;
/* Font for the sidebar (Remove to keep the same font as the rest of the document) */
	border-top-color: #006eb7;
	border-left-color:#B0E0E6;
	border-right-color:#B0E0E6;
	border-bottom-color:#B0E0E6;
	border-style: solid;
}


.sidebar a {
  text-decoration: none;
/* Removes the underline from links. */
  color: #e9e7e7;
/* Text color of the menu items */
}


.sidebar ul {
  line-height: 40px;
  overflow: hidden;
  margin-left: 0;
  padding-left: 10px;
}

.sidebar ul li {
  width: 100%;
  list-style-type: none;
  background:none;
  
  
/* Background colour of the menu items. */
  color: #695D46;
/* Text colour of the side bar titles. (Not the links). */

}
.listItemA > #aaa {

  position:relative;
  left: -40px;
  margin-left: 40px;
  transition:.3s ;
  color : #006eb7;
  font-weight: bold;
  padding-left: 8px;

}
#text{
	font-size:25px;
	color:#006eb7;
	font-weight: bold;
}

.listItemA > #aaa:hover{
  left:0;
  
}

.listItemA {
  height: 40px;
  width: 240px;
/* Alter this to be the .sidebar:width PLUS 40 */
  transition: .3s;
/* Speed of the hover animation */
  position: relative;
  left: -40px;
  margin-left: 40px;
}

.listItemT {
  text-align: center;
}





