@charset "UTF-8";

.wrapper {
	width: 1040px;
	padding: 0px 40px;
}

.coupon_title {
	height: 85px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.title_box {
	margin-top: 15px;
	height : 150px;
	width: 1034px;
	border: 3px solid black;
}

.usable {
	height : 100px;
	display : flex;
	padding: 4px;
	border-bottom: 1px solid black;
}

.usable_title {
	padding-left:5px;
	font-size: 30px;
	font-weight: bold;
	width: 517px;
}

.usable_num {
	font-size: 25px;
	width: 517px;
	padding-top: 65px;
	padding-right:15px;
	text-align: right;
}

.attention {
	display : flex;
	padding: 4px;
	height : 40px;
	width: 1028px;
}

.attention_title {
	font-size: 20px;
	width: 250px;
	padding: 4px 0px;
}

.coupon_body {
	height: 85px;
	width: 1040px;
	text-align: center;
}

.list_title {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	padding: 4px;
	font-size: 30px;
}

.coupon_list {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 4px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.list_cnum {
	font-size: 20px;
	width: 192px;
}

.list_name {
	font-size: 20px;
	width: 192px;
}

.list_num {
	font-size: 20px;
	width: 192px;
}

.list_discount {
	font-size: 20px;
	width: 192px;
}

.list_expiration {
	font-size: 20px;
	width: 192px;
}

.coupon_db {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
	height: 40px;
	align-items: center;
}

.db_cnum {
	font-size: 15px;
	width: 192px;
}

.db_name {
	font-size: 15px;
	width: 192px;
}

.db_num {
	font-size: 15px;
	width: 192px;
}

.db_discount {
	font-size: 15px;
	width: 192px;
}

.db_expiration{
	font-size: 15px;
	width: 192px;
}

.popup_wrapper {
	margin-top: 15px;
	height : 150px;
	width: 1034px;
	border: 3px solid black;
}

#layer_content {
	display: none;
}

#layer_hidden_btn {
	font-size: 14px;
	border: 2px solid black;
	background: #ffffff;
	padding: 3px;
	border-radius: 5px;
 	font-weight: bold;
 	letter-spacing: 2px;
}

#layer_btn {
	border-radius: 5px;
 	font-weight: bold;
 	color: #bfbfbf;
 	text-decoration : none ;
}

.popup_btn {
	width: 150px;
	font-size: 15px;
	padding-top: 8px;
}