@charset "UTF-8";

* {
   font-family: 'Noto Sans KR', sans-serif;
}

.body_wrapper {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.margin_side {
	width: 200px;
}

.body_content {
	width: 1040px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*--------------- 본문 -----------------------*/


.write_btn {
	width: 100%;
	height: 90px;
	background-color: #fff;
	padding-right: 10px;
	margin-bottom: 250px;
}

.end {
	width: 1040px;
	padding: 36px 0px;
	display: flex;
	justify-content: center;
}


.add_icon {
	margin: -12px 4px 0px 0px;
	font-size: 38px;
}
.address_add_btn {
	width: 832px;
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

.delete_title_wrapper {
	display: flex;
	justify-content: center;
}
.delete_title_wrapper>* {
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: bold;
}
.delete_title {
	padding-bottom: 80px;
}
.delete_title>h1 {
	margin-top: 0px;
}
.delete_sub_title {
	font-size: 20px;
	margin-bottom: 20px;
}
.delete_pw_check_notice {
	width: 400px;
	margin-top: 60px;
}
.delete_info_form {
	padding: 20px 0px 20px 0px;
	background-color: #fff;
}
.delete_info_form_title {
	color: #006eb7;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.delete_info_form_content>input {
	width: 400px;
	height: 40px;
	font-size: 24px;
	margin: 20px 0px 10px 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #006eb7;
}