@charset "UTF-8";

html {
   width: 100%;
   max-width: 1920px;
   font-family: 'Noto Sans KR', sans-serif;
}

/*header*/
header {
   margin: 0;
   padding: 0;
   height: 100px;
   width: 100%;
   position: relative;
   z-index: 9999;
   top: 0;
   left: 0;
   background-color: white;
}

header h1 {
   line-height: 75px;
   float: left;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.top-menu-wrapper {
   width: 88%;
   margin: 0 auto;
}

.top-list {
   float: right;
}

.top-list li {
   float: left;
}

.top-list a {
   line-height: 68px;
   color: black;
   padding: 0 15px;
   display: block;
   font-size: 13px;
}

.top-list a:hover {
   font-weight: bold;
}

/*main menu*/
a {
   text-decoration: none
}

.cbp-hrmenu {
   width: 100%;
   /* margin-top: 100px; */
   border-bottom: 4px solid #a9d3f0;
   text-align: center;
   position: relative;
   z-index: 2;
}

/* general ul style */
.cbp-hrmenu ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu>ul, .cbp-hrmenu .cbp-hrsub-inner {
   width: 90%;
   max-width: 70em;
   margin: 0 auto;
   padding: 0 1.875em;
}

.cbp-hrmenu>ul>li {
   display: inline-block;
}

.cbp-hrmenu>ul>li>a {
   font-weight: 700;
   padding: 1em 2em;
   color: black;
   display: inline-block;
}

.cbp-hrmenu>ul>li>a:hover {
   font-weight: bold;
   color: #63afe4;
}

.cbp-hrmenu>ul>li.cbp-hropen>a:hover {
   font-weight: bold;
   color: #63afe4;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
   display: none;
   position: absolute;
   border-top: 4px solid #a9d3f0;
   width: 100%;
   left: 0;
   width: 100%;
}

.cbp-hropen .cbp-hrsub {
   display: block;
   background: white;
   padding-bottom: 35px;
   padding-left: 150px;
   padding-right: 150px;
}

.cbp-hrmenu .cbp-hrsub-inner>div {
   width: 33%;
   float: left;
   padding: 0 2em 0;
   text-align: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after
   {
   content: " ";
   display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
   clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner>div a {
   line-height: 2em;
   color: black;
}

.cbp-hrmenu .cbp-hrsub-inner>div a:hover {
   font-weight: bold;
}

.cbp-hrsub h4 {
   color: #63afe4;
   padding: 2em 0 0.6em;
   margin: 0;
   font-size: 160%;
   font-weight: bold;
}

/*body*/
body {
   zoom: 1;
   position: relative;
   z-index: 1;
   -ms-overflow-y-style: none;
}

::-webkit-scrollbar {
   display: none;
}

/*main menu*/
a {
   text-decoration: none
}

.cbp-hrmenu {
   width: 100%;
   /* margin-top: 100px; */
   border-bottom: 4px solid #a9d3f0;
   text-align: center;
   position: relative;
   z-index: 2;
}

/* general ul style */
.cbp-hrmenu ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu>ul, .cbp-hrmenu .cbp-hrsub-inner {
   width: 90%;
   max-width: 70em;
   margin: 0 auto;
   padding: 0 1.875em;
}

.cbp-hrmenu>ul>li {
   display: inline-block;
}

.cbp-hrmenu>ul>li>a {
   font-weight: 700;
   padding: 1em 2em;
   color: black;
   display: inline-block;
}

.cbp-hrmenu>ul>li>a:hover {
   color: #63afe4;
}

.cbp-hrmenu>ul>li.cbp-hropen>a:hover {
   font-weight: bold;
   color: #63afe4;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
   display: none;
   position: absolute;
   border-top: 4px solid #a9d3f0;
   width: 100%;
   left: 0;
   width: 100%;
}

.cbp-hropen .cbp-hrsub {
   display: block;
   background: white;
   padding-bottom: 35px;
   padding-left: 150px;
   padding-right: 150px;
}

.cbp-hrmenu .cbp-hrsub-inner>div {
   width: 33%;
   float: left;
   padding: 0 2em 0;
   text-align: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after
   {
   content: " ";
   display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
   clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner>div a {
   line-height: 2em;
   color: black;
}

.cbp-hrmenu .cbp-hrsub-inner>div a:hover {
   font-weight: bold;
}

.cbp-hrsub h4 {
   color: #63afe4;
   padding: 2em 0 0.6em;
   margin: 0;
   font-size: 160%;
   font-weight: bold;
}
.body_wrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.margin_side {
	width: 200px;
}

/*--------------- 왼쪽 메뉴 -------------------*/

.side_menu>div a {
	color: black;
	text-decoration: none;
}
.side_menu>div a:hover {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.side_menu_name {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
}
.side_menu_title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 30px;
}
.side_menu_content {
	color: #5d5d5d;
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 20px;
}

/*--------------- 본문 -----------------------*/

.wrapper {
	width: 960px;
	height: 0px;
	padding: 0px 40px;
	margin-bottom: 200px;
}
.order_navi_bar {
	height: 220px;
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
	margin-bottom: 10px;
}
.order_navi_bar_img>img{
	width:100%;
}
.order_navi_bar_content {
	display: flex;
	justify-content: space-between;
	margin: 0px 30px;
}
.order_navi_bar_content>* {
/* 	padding: 10px 64px; */
	font-size: 20px;
	font-weight: bold;
}


.order_navi_bg_round {
	height: 110px;
	width: 110px;
	background-color: #eee;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
}
.order_navi_arrow {
	width: 97px;
	border: 3px solid #eee;
	background-color: #eee;
}


/* .order_navi_bg_round { */
/* 	color: #fff; */
/* 	height: 110px; */
/* 	width: 110px; */
/* 	background-color: #63afe4; */
/* 	border-radius: 100px; */
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: center; */
/* 	flex-direction: column; */
/* 	font-weight: 800; */
/* } */
/* .order_navi_arrow { */
/* 	width: 117px; */
/* 	border: 4px solid #63afe4; */
/* 	background-color: #63afe4; */
/* } */


.order_map {
	display: flex;
	justify-content: center;
	height: 400px;
	margin-bottom: 50px;
}
.map {
	width: 740px;
	height: 400px;
}

.order_row_title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	border-bottom: 4px solid #000;
}
.order_title {
	width: 200px;
}
.order_title>h1 {
	margin-top: 0px;
}
.order_sub_title {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 20px;
	margin: 80px 0px 50px 0px;
	border-bottom: 4px solid #000;
}
.order_row {
	height: 40px;
	display: flex;
}
.order_row_a>.order_box_content {
	font-size: 15px;
	font-weight: bold;
	width: 580px;
}
.order_box_title {
	font-size: 15px;
	width: 100px;
}
.order_box_content {
	font-size: 15px;
	font-weight: bold;
	width: 400px;
}
.order_box_a>.order_row>.order_box_title {
	width: 120px;
}
.order_box_a>.order_row>.order_box_content {
	width: 150px;
	text-align: right;
}
.order_box_a>.order_row>.order_box_content_r {
	color: #f5002d;
}
.order_box_item>.order_row {
	padding-right: 100px;
}
.order_item_name_data {
	font-weight: bold;
	width: 50%;
}
.order_item_count_data {
	font-weight: bold;
	width: 10%;
	text-align: right;
}
.order_item_price_data {
	font-weight: bold;
	width: 40%;
	text-align: right;
}
.map_store_list {
	width: 300px;
	height: 400px;
/* 	border: 1px solid black; */
	overflow: auto;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.chart {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
}
.chart_item_mg {
	width: 70px;
	display: flex;
	justify-content: center;
}
.chart_item_mg_r {
	width: 20px;
	display: flex;
	justify-content: center;
}
.chart_title {
	font-size: 15px;
}
.chart_body {
	font-size: 12px;
}

.margin_end {
	padding: 200px 0px 	100px 0px;
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
/* 	position: relative; */
	padding: 8px 10px;
/*   margin: 150px 0px 100px 0px; */
/*   float: left; */
	border-radius: 10px;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
}
.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}
.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
