@charset "UTF-8";
.address_head_border {
	width: 834px;
	border-bottom: 1px solid #000;
}
.address_chart {
	width: 800px;
	height: 200px;
	padding: 16px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}
.address_name {
	font-size: 16px;
	font-weight: bold;
}
.address_banner {
	width: 68px;
	font-size: 11px;
	text-align: center;
	border: 1px solid #555;
	border-radius: 50px;
	padding: 4px;
	margin: 12px 0px 2px 0px;
}
.address_address {
	font-size: 15px;
	display: flex;
	margin-top: 9px;
}
.address_phone {
	font-size: 15px;
	margin-top: 4px;
}
.address_lock {
	font-size: 15px;
	margin-top: 8px;
}
.address_btn {
	margin-top: 24px;
}
.address_update_btn {
	width: 34px;
	color: #006eb7;
	font-size: 16px;
	padding: 6px 12px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
/* .address_add_address { */
/* 	width: 800px; */
/* 	height: 50px; */
/* 	color: #006eb7; */
/* 	font-size: 16px; */
/* 	font-weight: bold; */
/* 	border: 1px solid #000; */
/* 	margin-top: 12px; */
/* 	padding: 16px; */
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: center; */
/* } */
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	width: 832px;
	position: relative;
	padding: 6px 40px 14px 40px;
	margin: 0px 0px 10px 0px;
	float: left;
	border-radius: 10px;
	text-align: center;
/* 	font-family: 'Pacifico', cursive; */
	font-size: 25px;
	color: #fff;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}
.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.add_icon {
	margin: -12px 4px 0px 0px;
	font-size: 38px;
}
.address_add_btn {
	width: 832px;
	display: flex;
	justify-content: center;
	margin-top: 8px;
}