@charset "UTF-8";

.write_btn {
	width: 100%;
	height: 90px;
	background-color: #fff;
	padding-right: 10px;
}

.end {
/* 	border-top: 1px solid #dddddd; */
	width: 800px;
	padding: 36px 0px;
/* 	padding: 10px 10px 10px; */
	display: flex;
	justify-content: center;
}
/* .end_btn { */
/* 	color : #bbb; */
/* 	font-size: 24px; */
/* /* 	border: 2px solid black; */ */
/* 	background: #fff; */
/* 	padding: 8px 16px 8px 28px; */
/* 	border-radius: 50px; */
/* 	border: 4px solid #bbb; */
/*  	font-weight: bold; */
/*  	text-align: center; */
/*  	letter-spacing: 12px; */
/*  	text-decoration: none; */
/*  	margin: 0px 12px; */
/* } */

/* .end_btn:hover { */
/*   font-weight : bold ; */
/*   text-decoration : none ; */
/*   color: #006eb7; */
/*   padding: 8px 16px 8px 28px; */
/*   border-radius: 50px; */
/*   border: 4px solid #006eb7; */
/* } */
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 10px 30px;
	margin: 0px 16px 10px 16px;
	float: left;
	border-radius: 10px;
	text-align: center;
/* 	font-family: 'Pacifico', cursive; */
	font-size: 25px;
	color: #fff;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}
.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.add_icon {
	margin: -12px 4px 0px 0px;
	font-size: 38px;
}
.address_add_btn {
	width: 832px;
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

.body_content {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.delete_title_wrapper {
	display: flex;
	justify-content: center;
}
.delete_title_wrapper>* {
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: bold;
}
.delete_title {
	padding-bottom: 80px;
}
.delete_sub_title {
	font-size: 20px;
	margin-bottom: 20px;
}
.delete_pw_check_notice {
	width: 400px;
	margin-top: 60px;
}
.delete_info_form {
/* 	width: 700px; */
	padding: 20px 0px 20px 0px;
	background-color: #fff;
/* 	border: 1px solid #000; */
}
.delete_info_form_title {
	color: #006eb7;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.delete_info_form_content>input {
	width: 400px;
	height: 40px;
	font-size: 24px;
	margin: 20px 0px 10px 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #006eb7;
}