@charset "UTF-8";

.wrapper {
	width: 960px;
	padding: 20px 40px;
}
.review_head {
	border-bottom: 4px solid #000;
	margin-bottom: 40px;
}
.review_table_top_border {
	width: 960px;
	border-top: 1px solid #ddd;
}
.review_table {
	width: 940px;
	padding: 30px 10px;
	border-bottom: 1px solid #ddd;
	display: flex;
}

.review_rating {
	font-size: 22px;
	width: 140px;
	display: flex;
	margin-top: -5px;
}
.review_row {
	display: flex;
}
.review_comment {
	font-size: 20px;
	padding-bottom: 10px;
}

.n {
	width: 120px;
}
.w {
	width: 220px;
}
.pd_l {
	padding-left: 16px;
}
.border_r {
	border-right: 1px solid #ddd;
}
.ft_gray {
	color: #808080;
}
.bold {
	font-weight: bold;
}